Source: ros-kinetic-exotica
Section: misc
Priority: optional
Maintainer: Vladimir Ivan <v.ivan@ed.ac.uk>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: https://github.com/ipab-slmc/exotica
Standards-Version: 3.9.2

Package: ros-kinetic-exotica
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-exotica-aico-solver, ros-kinetic-exotica-collision-scene-fcl-latest, ros-kinetic-exotica-core, ros-kinetic-exotica-core-task-maps, ros-kinetic-exotica-ik-solver, ros-kinetic-exotica-levenberg-marquardt-solver, ros-kinetic-exotica-ompl-solver, ros-kinetic-exotica-python, ros-kinetic-exotica-time-indexed-rrt-connect-solver
Description: The Extensible Optimization Toolset (EXOTica) is a library for defining problems for robot motion planning.
 This package serves similar to a metapackage and contains dependencies onto all core-released exotica packages. It also builds the documentation.
