Source: ros-kinetic-exotica-ompl-control-solver
Section: misc
Priority: optional
Maintainer: Traiko Dinev <traiko.dinev@ed.ac.uk>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-exotica-core, ros-kinetic-ompl
Homepage: https://github.com/ipab-slmc/exotica
Standards-Version: 3.9.2

Package: ros-kinetic-exotica-ompl-control-solver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-exotica-core, ros-kinetic-ompl
Description: Kinodynamic Control Solvers from OMPL
